.auth-background {
    height: calc(100% - 6vh);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-panel {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 4vh;
        margin: 4vh;
    }
}