@import "../../Setup.scss";

.hero {
    background-color: rgba(200,200,200, 0.4);
    background-blend-mode: screen;
    background-image: url("/header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 91vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>div:nth-child(1) {
        flex-grow: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div:nth-child(1) {
            width: 90vw;
            clip-path: inset(0 0 38% 0);

            .main-title {
                font-size: 7em;
                font-family: "Heebo";
                text-align: center;

                span {
                    display: inline-block;

                    &:nth-child(1), &:nth-child(2) {
                        margin-right: 3%;
                    }

                    &:nth-child(2) {
                        font-weight: 100;
                    }
                }

            }
        }
    }

    .arrow {
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 2em;

        .fa-angle-double-down {
            display: none;
        }

        &:hover {
    
            .fa-grip-lines {
                display: none;
            }
        
            .fa-angle-double-down {
                display: block;
            }
        }

        a {
            color: $title-sm;

            &:visited {
                color: $title-sm;
            }
        }

    }

}

.hidden-element {
    display: none !important;
}

.search-list {
    margin: -20vh 10vw 0;
    border-radius: 10px;
    padding: 1vw;
    background-color: white;
}

/////////---------------MEDIA QUERIES---------------/////////

//Mobile
@media (max-width: 360px) {
    
    .search-list {
        margin-left: 3vw;
        margin-right: 3vw;
    } 
}

//Mobile and small tablet
@media (max-width: 600px) {

    .hero {
        &>div:nth-child(1) {
            &>div:nth-child(1) {
                .main-title {
                    font-size: 3em;
                }
            }
        }
    }
}

//Tablet
@media (min-width: 601px) and (max-width: 768px) {

    .hero {
        &>div:nth-child(1) {
            &>div:nth-child(1) {
                .main-title {
                    font-size: 5em;
                }
            }
        }
    }
}