@import "../../Setup.scss";

.user-dashboard {
    height: 100%;
    display: grid;
    grid-template-columns: 17% 80%;
    grid-column-gap: 2%;

    & > aside {
        grid-column: 1 / 2;
        background-color: white;
        padding: 9vh 1vw 0;
        height: 91vh;
        min-width: 15vw;
        position: fixed;
        top: 0;
        left: 0;

        ul {
            height: 100%;
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            li {
                height: 25%;

                a {
                    color: $main;
                    font-weight: 600;
                    height: 100%;
                    padding: 0 2vw;
                    display: block;
                    display: flex;
                    align-items: center;

                    &.is-active {
                        background-color: $light-grey;
                    }

                    &:hover {
                        background-color: $light-grey;
                    }
                }
            }
        }
    }

    .dashboard-content {
        grid-column: 2 / 3;
        max-width: 90vw;

        .activity-section {
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;

            h2 > span:nth-of-type(1):after {
                display: none;
            }

            .col-2 {
                grid-column: 1 / 3;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;

                & > h2 {
                    grid-column: 1/3;
                }
            }
        }
    }
}