@import "../../Setup.scss";

.publish-offer-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .publish-offer-card {
        min-width: 50vw;
        max-width: 90vw;
        margin: 11vh 0;
        padding: 50px !important;
    }
}

