#intro {

    padding: 10vh 0;

    article {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        align-items: center;

        &:nth-of-type(2) {
            flex-direction: row-reverse;
            margin-top: 3rem;
        }

        div {
            width: 40%;

            img {
                max-width: 100%;
            }
        }
    }
}



/////////---------------MEDIA QUERIES---------------/////////

//Tablets
@media (max-width: 768px) {

    #intro {
    
        article {
            flex-direction: column-reverse !important;

            &:nth-of-type(1) {
                margin-bottom: 50px;
            }

            div {
                width: 90%;
            }
        }
    }
}