@import "../../Setup.scss";

.offer {
    margin: 60px;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}

.main-card {

    & > a {
        align-self: flex-end;
        color: white;
        text-shadow: 1px 1px 2px $main;
        z-index: 2;
        position: relative;
    }

    .view-offer {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        width: 5vw;
        height: 5vw;
        // height: 100px;
        overflow: hidden;
        bottom: 0px;
        // right: -70%;
        right: 0;
        background-color: $main;
        // border-radius: 0 4px 0 32px;
        // border-radius: 50% 0 0 0;
        border-radius: 50% 0 0 0;
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: 2px 4px 10px $light-grey;
        color: white;

        &:before {
            transform: scale(50);
        }

        h2, a {
            color: white;

            & > span:after {
                display: none;
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0%;
        right: 0%;
        z-index: -1;
        // bottom: -20px;
        // right: -20px;
        background: $main;
        height: 5vw;
        width: 5vw;
        border-radius: 50% 0 0 0;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }
}

/////////---------------MEDIA QUERIES---------------/////////

//Mobile and tablets
@media (max-width: 768px) {
    .offer {
        margin: 40px 10px;
    }

    .main-card {
    
        &:hover {
    
            &:before {
                transform: scale(60);
            }
        }
    }
    
}