@import "../../Setup.scss";

#search {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        align-self: center;
    }

    form.category-search {

        display: grid;
    
        label {
            border: 1.5px solid $main;
            color: $main;
            // box-shadow: 0px 2px 2px $light-grey;
            background-color: white;
            border-radius: 20px;
            font-weight: 600;
            padding: 5px 15px;
            margin: 5px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.1s;
        
           &.label-hover:not(:hover) {
                opacity: 0.5;
            }
        }
        
        input {
        
            display: none;
        
            &:checked + label {
                // box-shadow: inset 0 2px 2px $light-grey;
                background-color: $main;
                color: white;
            }
        }
        
        .search-btn {
        
            box-shadow: 0px 2px 2px $light-grey;
            background-color: white;
            border-radius: 20px;
            font-weight: 600;
            padding: 5px 15px;
            margin: 5px;
            width: 100px;
            border: none;
        
            .fa-search {
                margin: 5px;
            }
        
            &:hover {
        
                .fa-search {
                    animation-duration: 1s;
                    animation-name: search-rotate;
                }
            }
        }
    }
}





@keyframes search-rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/////////---------------MEDIA QUERIES---------------/////////

//Tablets
@media (min-width: 361px) and (max-width: 768px) {
    #search {
    
        form.category-search {
            grid-template-columns: 1fr 1fr;
        }
    }    
}

//Big tablets
@media (min-width: 769px) and (max-width: 1024px) {
    #search {
    
        form.category-search {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }    
}

//Laptops
@media (min-width: 1025px) and (max-width: 1280px) {
    #search {
    
        form.category-search {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            label:nth-last-child(3) {
                grid-column: 2 / 3;
            }

            label:nth-last-child(1) {
                grid-column: 3 / 4;
            }
        }
    }    
}

//Desktop
@media (min-width: 1281px) {
    #search {
    
        form.category-search {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }   
}