@import "../Setup.scss";

footer {
    background-color: $main;
    height: 20vh;
    // box-sizing: border-box;
    // margin-top: 5vh;
    padding: 1.5rem 2vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    img {
        width: 5vw;
        margin-top: 1.5rem;
    }

    a {
        color: white;
        text-transform: uppercase;

        &:visited {
            color: white;
        }
    }
}