@import "../Setup.scss";

nav {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 2vh 2vw;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: $main;
    transition: 0.5s;
    overflow: hidden;

    a {
        color: white;

        &:visited {
            color: white;
        }
    }

    &.shrink-nav {
        height: 2vh;
    }

    img {
        height: 100%;
    }

    & > div:nth-child(1) {
        height: 100%;

        & > a:nth-child(1) {
            height: 100%;
        }
    }

    .cta-item {
        // background-color: rgba(255,255,0, 0.5);
        &:after {
            content: "";
            position: absolute;
            top: 10%;
            left: 15%;
            width: 70%;
            height: 70%;
            border: 1.5px solid $accent;
        }
    }

    .nav-burger {
        margin: 1em;
        width: 40px;
        display: none;
    
        &:after, &:before, div {
            background-color: white;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;    
        }
    
        &:hover:before {
            transform: translateY(12px) rotate(135deg);
        }
    
        &:hover:after {
            transform: translateY(-12px) rotate(-135deg);
        }
    
        &:hover div {
            transform: scale(0);
        }
    }

    .dropdown-hidden {
        // display: none;
        animation-duration: 0.5s;
        animation-name: hide-dropdown;
        animation-timing-function: ease-out;
        transform-origin: top;
    }

    .dropdown-show {
        display: block;
        animation-duration: 0.5s;
        animation-name: show-dropdown;
        animation-timing-function: ease-out;
        transform-origin: top;
    }

    .full-menu {
        display: flex;
        align-items: center;

        * {
            padding: 1vw 3vw;
        }

        a {
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            color: white;

            &:before {
                position: absolute;
                color: $accent;
                top: 0px;
                left: 0px;
                overflow: hidden;
                content: attr(alt);
                transition: all 0.3s;
                transform: scale(1.5);
                opacity: 0;
                padding: 1vw 3vw;
                font-weight: 700;
            }

            &:hover:before {
                transform: scale(1);
                opacity: 1;
            }

            &:active, &.active-nav-item {
                background-color: $light-grey;
            }
        }
    }
}


@keyframes show-dropdown {

    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}


@keyframes hide-dropdown {

    from {
        transform: scaleY(1);

    }

    to {
        transform: scaleY(0);
    }
}


/////////---------------MEDIA QUERIES---------------/////////

//Mobile and tablets
@media (max-width: 768px) {
    nav {

        & > div:nth-of-type(1) {
            width: 100vw;
            display: flex;
            justify-content: space-between;

            .nav-burger {
                display: block;
                align-self: center;
            }
        }

        .dropdown {
            width: 100vw;
            position: fixed;
            top: 9vh;
            left: 0;
            right: 0;
            background-color: $main;
            transition: 0.5s;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.shrink-nav {
            
            .dropdown {
                top: 6vh;
            }
        }

        .full-menu {
            display: none;
        }
    }
    
}

@media (max-width: 1024px) {

    .full-menu {
        font-size: 0.85em;
    }
}