@import "../Setup.scss";


.modal-container {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    &.show {
        z-index: 200;
        visibility: visible;
        animation-duration: 0.35s;
        animation-name: show;
        opacity: 1;

        .offer-modal {
            animation-duration: 0.35s;
            animation-name: modalAppear;    
        }
    }

    &.hide {

        visibility: hidden;
        opacity: 0;
        transition: all 0.35s;
        z-index: 200;

        .offer-modal {
            animation-duration: 0.35s;
            animation-name: modalDisappear;    
        }

    }


    .offer {
        &-modal {
            width: 70vw;
            height: 50vh;
            overflow: scroll;
            position: relative;
            z-index: 200;
        }
    }

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div {
            width: 80%;
            display: flex;
            align-items: center;

            i {
                margin-left: 1rem;
            }
        }

        .fa-times-circle, .fa-bookmark {
            font-size: 1.3rem;
            transition: 0.35s;
    
            &:hover {
                transform: scale(1.3);
            }
        }
    }

    section {

        &>p:nth-of-type(1) {
            display: inline;
            margin-right: 1rem;
        }

        .modal-share {
            * {
                display: inline;
            }

            & > div > div {
                margin-right: 1rem;
            }
        }
        
    }

    .modal-bg {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $light-grey;
        backdrop-filter: blur(5px);
    }
   
}







@keyframes modalAppear {

    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}


@keyframes modalDisappear {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}
