@charset "utf-8";

@import "Setup.scss";

html {
    scroll-behavior: smooth;
    height: 100%;
    color: $title-sm;
}

body {
    font-family: "Khula";
    margin: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loader {
    font-size: 3em;
    margin: auto;
    color: $main;
}

.content {
    flex: 1 0 auto;
}

h2, h3, h4, h5, h6 {
    color: $main;
    position: relative;
    z-index: 1;
    align-self: flex-start;

    & > span:nth-of-type(1) {
        &:after {
            content: "";
            background-color: $accent;
            position: absolute;
            left: -5%;
            top: 45%;
            transform: skew(-15deg);
            width: 110%;
            height: 30%;
            z-index: -1;
        }
    }
    
}

h1, h2, h3, h4, h5, h6, p {

    &::selection {
        // TODO revisar dependiendo de que color use para main al final
        // y mirar por que esta sacando un color un poco distinto
        background-color: $main;
        color: white;
    }
}

p {
    font-size: 16px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: $main;
    cursor: pointer;

    &:visited {
        color: $main;
    }
}

button, input, textarea {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

input[type=text], input[type=password], input[type=email], textarea, input[type=date], input[type=number] {
    display: block;
    caret-color: $main;
    box-shadow: 0px 2px 2px $light-grey;
    border: none;
    padding: 10px 60px 10px 30px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    color: $main;
    border-bottom: solid 3px rgba(0,0,0,0);

    &:focus {
        border-bottom: solid 3px $main;
        box-shadow: inset 0 2px 2px $light-grey;    
    }
}

input[type=date] {
    color: initial;
}

.file-input {

    font-size: 16px;
    // padding: 10px 0;
    border: 0.5px solid $light-grey;
    box-shadow: 0px 2px 2px $light-grey;
    border-radius: 5px;
    display: flex;
    // flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;

    input[type=file] {
        display: none;
    }

    &:before {
        content: "Browse";
        background-color: $main;
        color: white;
        font-size: 16px;
        border: none;
        padding: 10px 60px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px $light-grey;
        cursor: pointer;
    }

    &:hover:before {
        box-shadow: inset 0 4px 2px $light-grey;
    }
}


.btn {
    background-color: $main;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 60px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px $light-grey;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0 4px 2px $light-grey;
    }

    &:visited {
        color: white;
    }
}

.btn-cancel {
    background-color: red
}

.card {
    box-shadow: 0px 2px 2px $light-grey;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

// 320
// 600 o 768
// 1024 o 1280 
