// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand');
// @import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i&display=swap');

// Set your brand colors
$background-color: rgb(247, 250, 245);
$light-grey: rgba(0,0,0,0.2);
$main: #082873;
$accent: #FFFF00;
$title-sm: #3A3335;


// MAIN
// #C5F4E0
// #235789
// #0A369D
// #072364
// #082873
// #004CFF or blue

// TEXT
// #3A3335
// #22181C
// #1C1D21


//General animations I use in more than one component

@keyframes show {

    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

// TODO arreglar el background raro

@keyframes fadeOut {

    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}