@import "../../Setup.scss";

.FAQ {
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;

    p {
        display: none;
        animation-duration: 0.5s;
        animation-name: fadeOut;
    }

    .faq-card {
        display: flex;
        flex-direction: column;

        h3 {
            opacity: 0.7;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                color: $main;
                opacity: 1;
            }

            & > span:nth-of-type(1):after {
                visibility: hidden;
            }
        }
    
        .show-faq {
            color: $main;
            opacity: 1;
    
            & + p {
                display: block;
                animation-duration: 0.5s;
                animation-name: show;
            }
        }
    
        .hide-faq + p {
            display: none;
        }
    }

}
